* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.List-container {
  border: 2px solid red;
  width: 90%;
  margin: auto;
  height: 600px;
}

.logentry-wrapper {
  border: 1px solid green;
  display: flex;
}

.logentry-photo-container {
  width: 30%;
  border: 2px solid black;
}

.logentry-info-container {
  border: 2px solid black;
  width: 70%;
}